version: '3.8'

services:
  app:
    image: openjdk:17-jdk-alpine
    container_name: spring-boot-app
    volumes:
      - ./target:/app
    ports:
      - "9090:9090"
    command: ["java", "-jar", "/app/cardeneta-web-0.0.1-SNAPSHOT.jar"]
    environment:
      - DATABASE_URL=${DATABASE_URL}
      - DATABASE_USERNAME=${DATABASE_USERNAME}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD}
