services:
  cardeneta-db:
    image: postgres
    container_name: cardeneta-db
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRESDB_USER}
      - POSTGRES_PASSWORD=${POSTGRESDB_ROOT_PASSWORD}
      - POSTGRES_DB=cardeneta
    ports:
      - '5432:5432'

  cardeneta-app:
    container_name: cardeneta-app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - '9090:9090'
    environment:
      - SPRING_DATASOURCE_URL=jdbc:postgresql://cardeneta-db:5432/cardeneta?currentSchema=cardeneta
      - SPRING_DATASOURCE_USERNAME=${POSTGRESDB_USER}
      - SPRING_DATASOURCE_PASSWORD=${POSTGRESDB_ROOT_PASSWORD}
    depends_on:
      - cardeneta-db